<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'teste')}">

<body>

  <h2>Teste</h2>
  <form th:object="${teste}" class="form-horizontal" id="add-teste-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Resultado do Teste', 'resultado', 'text')}" />
      <input
        th:replace="~{fragments/selectField :: select ('Tipo', 'type', ${tipo})}" />
      <div class="form-group has-feedback">
      <div class="form-group">
        <label class="col-sm-2 control-label">Paciente</label>
        <div class="col-sm-10">
          <span th:text="${teste.paciente?.name}" ></span>
        </div>
      </div>    
    </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${teste['new']} ? 'Add Teste' : 'Update Teste'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Teste</button>
      </div>
    </div>
  </form>
</body>
</html>
