<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'tipoTeste')}">

<body>

  <h2>Tipo de Teste</h2>
  <form th:object="tipoTeste" class="form-horizontal" id="add-tipoTeste-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Tipo', 'name', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${tipo['new']} ? 'Add Tipo de Teste' : 'Update Tipo de Teste'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Tipo de Teste</button>
      </div>
    </div>
  </form>
</body>
</html>
