<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'teste')}">

  <body>

    <h2>Testes</h2>

    <table id="teste" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Resultado</th>
            <th style="width: 200px;">Tipo</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="teste : ${selections}">
              <td>
                  <a th:href="@{/teste/__${tipo.id}__}" th:text="${tipo.resultado}"/></a>
              </td>
              <td>
              	<span th:each="tipo : ${teste.tipo}" th:text="${tipo.name} "></span>
              </td>
              <td>
              	<span th:each="paciente : ${teste.paciente}" th:text="${paciente.name} "></span>
              </td>
          </tr>
        </tbody>
    </table>

  </body>
</html>
