<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'teste')}">

  <body>
  
  
    <h2>Detalhes do Teste</h2>
  
  
    <table class="table table-striped" th:object="${teste}">
      <tr>
        <th>Resultado</th>
        <td><b th:text="*{resultado}"></b></td>
      </tr>
      <tr th:each="tipo : ${teste.tipo}">
              <td th:text="${tipo?.name}"></td>
      </tr>
      <tr th:each="paciente : ${teste.paciente}">
              <td th:text="${paciente?.nome}"></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${teste.id})}" class="btn btn-default">Editar
      Teste</a>
    <a th:href="@{{id}/teste/new(id=${teste.id})}" class="btn btn-default">Add
      Novo Teste</a>

  </body>

</html>
