<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'tipoTeste')}">

  <body>

    <h2>Tipos de Testes</h2>

    <table id="tipoTeste" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Tipo</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="teste : ${selections}">
              <td>
                  <a th:href="@{/teste/__${teste.id}__}" th:text="${teste.name}"/></a>
              </td>
              <td th:text="${teste.name}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
