<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'funcionarios')}">

<body>

  <h2>Unidade de Saude</h2>
  <form th:object="${funcionario}" class="form-horizontal" id="add-funcionario-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nome do Funcionario', 'nomeCompleto', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('RG', 'rg', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CPF', 'cpf', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'endereco', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CEP', 'cep', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Sexo', 'sexo', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telefone', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Data de Nacimento', 'dataNascimento', 'date')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Setor', 'setor', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Função ', 'funcao', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${funcionario['new']} ? 'Add Funcionario' : 'Update Funcionario'"
          class="btn btn-default" type="submit" th:text="${text}">Add Funcionario</button>
      </div>
    </div>
  </form>
</body>
</html>
