<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'unidadeSaude')}">

  <body>

    <h2>Unidades de Saúde</h2>

    <table id="unidadeSaude" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 350px;">Nome da Unidade de Saúde</th>
            <th style="width: 300px;">Endereço</th>
            <th>CEP</th>
            <th style="width: 200px">Telefone</th>
        </tr>
        </thead>
        <tbody>
          <tr th:each="unidadeSaude : ${unidadesSaude}">
              <td>
                  <a th:href="@{/unidadesSaude/__${unidadeSaude.id}__}" th:text="${unidadeSaude.nome}"/></a>
              </td>
              <td th:text="${unidadeSaude.endereco}"/>
              <td th:text="${unidadeSaude.cep}"/>
              <td th:text="${unidadeSaude.telefone}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
