<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'funcionarios')}">

  <body>
  
  
    <h2>Informações do Funcionário</h2>
  
  
    <table class="table table-striped" th:object="${funcionario}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{nomeCompleto}"></b></td>
      </tr>
      <tr>
        <th>RG</th>
        <td><b th:text="*{rg}"></b></td>
      </tr>
      <tr>
        <th>CPF</th>
        <td><b th:text="*{cpf}"></b></td>
      </tr>
      <tr>
        <th>Endereço</th>
        <td th:text="*{endereco}"></td>
      </tr>
      <tr>
        <th>CEP</th>
        <td th:text="*{cep}"></td>
      </tr>
      <tr>
        <th>Sexo</th>
        <td><b th:text="*{sexo}"></b></td>
      </tr>
      <tr>
        <th>Telefone</th>
        <td th:text="*{telefone}"></td>
      </tr>
      <tr>
        <th>Data de Nascimento</th>
        <td><b th:text="${#dates.formatISO(dataNascimento)}"></b></td>
      </tr>
      <tr>
        <th>Setor</th>
        <td th:text="*{setor}"></td>
      </tr>
      <tr>
        <th>Função</th>
        <td th:text="*{funcao}"></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${funcionario.id})}" class="btn btn-default">Edit
      Funcionario</a>
    <a th:href="@{{id}/funcionarios/new(id=${funcionario.id})}" class="btn btn-default">Add
      New Funcionario</a>
  
    <br />
    <br />
    <br />
    <!--<h2>Funcionarios</h2>
  
    <table class="table table-striped">
  
      <tr th:each="funcionario : ${unidadeSaude.funcionarios}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd th:text="${funcionario.nomeCompleto}"></dd>
            <dt>Setor</dt>
            <dd th:text="${funcionario.setor}"></dd>
            <dt>Função</dt>
            <dd th:text="${funcionario.funcao}"></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">            
            <!--<tr>
              <td><a
                th:href="funcionarios/{funcionarioId}/(funcionarioId=${funcionarioId})">Ver
                  Funcionário</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                  Visit</a></td>
            </tr>-->
          </table>
        </td>
      </tr>
  
    </table>-->
  
  </body>

</html>
