<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'paciente')}">

<body>

  <h2>Paciente</h2>
  <form th:object="${paciente}" class="form-horizontal" id="add-paciente-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nome do Paciente', 'nome', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'endereco', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CEP', 'cep', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telefone', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Nome da Mãe', 'nomeMae', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Observações', 'obs', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Nome do Responsável', 'nomeResponsavel', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('CPF do Responsável', 'cpfResponsavel', 'text')}" />
        <input
        th:replace="~{fragments/inputField :: input ('Telefone do Responsável', 'telefoneResponsavel', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${paciente['new']} ? 'Add Paciente' : 'Update Paciente'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Paciente</button>
      </div>
    </div>
  </form>
</body>
</html>
