<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'paciente')}">

  <body>

    <h2>Pacientes</h2>

    <table id="paciente" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Nome</th>
            <th style="width: 200px;">Endereço</th>
            <th>CEP</th>
            <th style="width: 120px">Telefone</th>
            <th>CNS</th>
            <th style="width: 120px">Nome da Mãe</th>
            <th>Observações</th>
            <th>Nome do Responsável</th>
            <th>CPF do Responsável</th>
            <th>Telefone do Responsável</th>        
        </tr>
        </thead>
        <tbody>
          <tr th:each="paciente : ${selections}">
              <td>
                  <a th:href="@{/paciente/__${paciente.id}__}" th:text="${paciente.nome}"/></a>
              </td>
              <td th:text="${paciente.endereco}"/>
              <td th:text="${paciente.cep}"/>
              <td th:text="${paciente.telefone}"/>
              <td th:text="${paciente.cns}"/>
              <td th:text="${paciente.nomeMae}"/>
              <td th:text="${paciente.obs}"/>
              <td th:text="${paciente.nomeResponsavel}"/>
               <td th:text="${paciente.cpfResponsavel}"/>
              <td th:text="${paciente.telefoneResponsavel}"/>
          </tr>
        </tbody>
    </table>

  </body>
</html>
