<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'paciente')}">

  <body>
  
  
    <h2>Detalhes do Paciente</h2>
  
  
    <table class="table table-striped" th:object="${paciente}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{nome}"></b></td>
      </tr>
      <tr>
        <th>Endereço</th>
        <td th:text="*{endereco}"></td>
      </tr>
      <tr>
        <th>CEP</th>
        <td th:text="*{cep}"></td>
      </tr>
      <tr>
        <th>Telefone</th>
        <td th:text="*{telefone}"></td>
      </tr>
      <tr>
        <th>Nome da Mãe</th>
        <td th:text="*{nomeMae}"></td>
      </tr>
      <tr>
        <th>Observações</th>
        <td th:text="*{obs}"></td>
      </tr>
      <tr>
        <th>Nome do Responsável</th>
        <td th:text="*{nomeResponsavel}"></td>
      </tr>
      <tr>
        <th>CPF do Responsável</th>
        <td th:text="*{cpfResponsavel}"></td>
      </tr>
      <tr>
        <th>Telefone do Responsável</th>
        <td th:text="*{telefoneResponsavel}"></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${paciente.id})}" class="btn btn-default">Editar
      Paciente</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Add
      Novo Paciente</a>
  
  </body>

</html>
