<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'unidadesSaude')}">

<body>

  <h2>Unidade de Saude</h2>
  <form th:object="${unidadeSaude}" class="form-horizontal" id="add-unidadeSaude-form" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Nome da unidade de Saúde', 'nome', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Endereço', 'endereco', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('CEP', 'cep', 'text')}" />
      <input
        th:replace="~{fragments/inputField :: input ('Telefone', 'telefone', 'text')}" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button
          th:with="text=${unidadeSaude['new']} ? 'Add Unidade de Saude' : 'Update Unidade de Saúde'"
          class="btn btn-default" type="submit" th:text="${text}">Add
          Unidade de Saúde</button>
      </div>
    </div>
  </form>
</body>
</html>
