<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'unidadesSaude')}">

  <body>
  
  
    <h2>Informações da Unidade de Saúde</h2>
  
  
    <table class="table table-striped" th:object="${unidadeSaude}">
      <tr>
        <th>Nome</th>
        <td><b th:text="*{nome}"></b></td>
      </tr>
      <tr>
        <th>Endereço</th>
        <td th:text="*{endereco}"></td>
      </tr>
      <tr>
        <th>CEP</th>
        <td th:text="*{cep}"></td>
      </tr>
      <tr>
        <th>Telefone</th>
        <td th:text="*{telefone}"></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${unidadeSaude.id})}" class="btn btn-default">Edit
      Unidade de Saúde</a>
    <a th:href="@{{id}/funcionarios/new(id=${unidadeSaude.id})}" class="btn btn-default">Add
      New Funcionario</a>
  
    <br />
    <br />
    <br />
    <h2>Funcionarios</h2>
  
    <table class="table table-striped">
  
      <tr th:each="funcionario : ${unidadeSaude.funcionarios}">
        <td valign="top">
          <dl class="dl-horizontal">
            <dt>Nome</dt>
            <dd th:text="${funcionario.nomeCompleto}"></dd>
            <dt>Setor</dt>
            <dd th:text="${funcionario.setor}"></dd>
            <dt>Função</dt>
            <dd th:text="${funcionario.funcao}"></dd>
          </dl>
        </td>
        <td valign="top">
          <table class="table-condensed">            
            <!--<tr>
              <td><a
                th:href="funcionarios/{funcionarioId}/(funcionarioId=${funcionarioId})">Ver
                  Funcionário</a></td>
              <td><a
                th:href="@{{ownerId}/pets/{petId}/visits/new(ownerId=${owner.id},petId=${pet.id})}">Add
                  Visit</a></td>
            </tr>-->
          </table>
        </td>
      </tr>
  
    </table>
  
  </body>

</html>
